@font-face {
  font-family: Poppins-Light;
  src: url("./src/assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("./src/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("./src/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("./src/assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("./src/assets/fonts/Poppins-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Poppins-Regular", sans-serif;
}
