nav {
  height: 100px;
  width: 100%;
  background-color: #3e3e3e44;
  color: #ccc;
  display: flex;
  justify-content: center;
}

nav .wrapper {
  width: 1200px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

nav .wrapper .left,
nav .wrapper .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo {
  color: #fff;
  border-radius: 4px;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo img {
  display: block;
  height: 38px;
}

nav .link-item {
  color: #fff;
  border-radius: 4px;
  padding: 10px 25px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

nav .link-item:hover {
  border-radius: 4px;
  padding: 10px 25px;
  cursor: pointer;
  background-color: #1a1a1a14;
  border-bottom: 2px solid #abf387;
}

nav .active {
  background-color: #1a1a1a41;
}

nav .hamb {
  height: 48px;
  width: 48px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 940px) {
  nav .wrapper .right .hamb {
    display: none;
  }
  nav .link-item {
    display: initial;
  }
}

@media screen and (max-width: 940px) {
  nav .wrapper {
    width: 100%;
  }
  nav .wrapper .right .hamb {
    display: block;
  }
  nav .link-item {
    display: none;
  }
}
